# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)
elephants = 21
print(elephants)
print(7)

x = 10
y = 7

6
21
7

##### Assigning float

In [3]:
# a float is any number with a decimal
num_float = 3.14
print(num_float)

my_float = 30.45
print(my_float)

another_float = 12.0
print(another_float)

3.14
30.45
12.0

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 3
num2 = 7
print(num1 + num2)
# variable = 3 + 7
result = num1 + num2

10

In [12]:
num3 = 15
num4 = 2
result = num3 + num4
print(result)

result += num4
print(result)

17
19

##### Subtraction

In [16]:
num3 = 15
num4 = 2
print(num3 - num4)

# seeting a variable to the difference of two numbers
result = num3 - num4
print(result)

# -=
my_num = 10
my_num -= 1
print(my_num)

13
13
9

##### Multiplication

In [18]:
# *
num1 = 10
num2 = 4.7
product = num1 * num2
print(product)
# *=
another_num = 6
another_num *= 2 
print(another_num)

47.0
12

##### Division

In [20]:
# /
num1 = 45
num2 = 9
quotient = num1 / num2
print(quotient)

5.0

In [21]:
# /=
num1 = 45
num1 /= 3
print(num1)

15.0

##### Floor Division

In [23]:
#  // 
# round down to the nearest whole number
num1 = 5
num2 = 2
floored = num1 // num2
print(floored)
# floor round down to the nearest whole number

#
sam = 5
frodo = 2
divided = sam / frodo
print(divided)

2
2.5

##### Modulo

In [24]:
# returns the remainder of a division problem
num = 6
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

##### Exponential

In [26]:
# num**2
square = 5 ** 2 
print(square)

number = 6
number **= 2
print(number)

25
36

In [27]:
cubed = 3 ** 3
print(cubed)

27

### String Input-Output

##### String Assignment

In [28]:
# string is denote using " " ' '
name = "Morgan"

num_string = "3"

dog = "Mutt"
print(name)
print(num_string)
print(dog)

my_sentence = "Hi, my name is alex and i like to party at ryan's house"
print(my_sentence)

Morgan
3
Mutt

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
name = "Morgan"
print("Hello,",name)
print("Full Name:", name, end=" McIntosh")
help(print)

Hello, Morgan
Full Name: Morgan McIntoshHelp on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### String Concatenation

In [36]:
# strings are imutable meaning they cant be changed
# adding two or more strings together to make one large string
# this is done by either creating a new variable to hold the two concatenated strings
# or reassigning a current varaiable
first_name = "Luke"
last_name = "Skywalker"

full_name = "Luke" + " " + "Skywalker"
print(full_name)

full_name = first_name + " " + last_name
print(full_name)

full_name += (" " + "Jedi master")
print(full_name)

Luke Skywalker
Luke Skywalker
Luke Skywalker Jedi master

##### Type Conversion

In [40]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

x = 12
print(type(x))

name = "Morgan"
print(type(name))

num_string = "15"
print(type(num_string))

y = 1.45
print(type(y))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [42]:
new_x = str(x)

new_y = str(y)

print(new_x)
print(new_y)

print(type(new_x))
print(type(new_y))

12
1.45
<class 'str'>
<class 'str'>

In [44]:
num = int(num_str)
print(num)
print(type(num))

floaty = float(num_str)
print(floaty)
print(type(floaty))

NameError: name 'num_str' is not defined

##### input()

In [48]:
# input will always return a string, all of the time, forever and ever
name = input("what is your name?")
print("your name is", name)

quest = input("What is your quest?")
print("Your quest is", quest)

color = input("what is your favorite color?")
print("Your facorite color is", color)

what is your name? morgan

your name is morgan

What is your quest? i seek the holy grail

Your quest is i seek the holy grail

what is your favorite color? red

Your facorite color is red

In [51]:
age = int(input("How old are you?"))
print("Your age is", age)

age += 1
print(age)

How old are you? 25

Your age is 25
26

##### format()

In [56]:
# f string f""
name = "Morgan"
print(f"Hello my name is {name}")

# format()
age = int(input("How old are you?"))
name =input ("What is your name?" )

result_string = "Your are {} years old, {}, and your are getting wiser".format(age, name)
print(result_string)

Hello my name is Morgan

How old are you? 89
What is your name? m

Your are 89 years old, m, and your are getting wiser

##### Old Way (python 2)

In [57]:
result_string = "You are %s years old, %, and looking great for your age." %age
print(result_string)

TypeError: not enough arguments for format string

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [64]:
color = input("What color is your car?")
year = int(input("What year is your car?"))
make = input("What make is your car?")
model = input("What model is your car?")

car = f"Your car is a {color} {year} {make} {model}."
print(car)

What color is your car? red
What year is your car? 2023
What make is your car? dode
What model is your car? de

Your car is a red 2023 dode de.

### If Statements

In [65]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 65
if num2 > num1: #our question always start with "if", ask our questions, ends with :
    print("Its bigger!")

Its bigger!

##### 'is' keyword

In [68]:
num3 = 90
if num3 == 90:
    print("It is equal to 90")

It is equal to 90

##### 'in' keyword

In [69]:
name = "Morgan"

if "a" in name:
    print("How lovely")

How lovely

##### 'not in' keyword'

In [70]:
if "b" not in name:
    print("its not here")

its not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [74]:
user_input = input("Please input somehting:  ")

if 'p' and "P" in user_input:
    print("The text has 'p'")
else:
    print("No p")

Please input somehting:   Pillow

The text has 'p'

In [75]:
if "p":
    print("p exists and is a true value")

p exists and is a true value

## Using 'and'/'or' with If Statements

In [81]:
#Truth Tree
# T && F = F "and"
# T && T = T "and"
# T || F = T "or"
# F || T = T "or"
# F || F = F "or"

num1 = 15
num2 = 3
num3 = 10
num4 = 3


#if statement with either "and"/"or"

      #T                    #T
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("One of these is false")
    
    
       #T                     #F
if num1 / 5 == num2 and num3 / 5 == num4:
    print("True and True")
else:
    print("One of thesse is false")
    
     #T                      #F
if num1 / 5 == num2 or num3 / 5 == num4:
    print("True or True")
else:
    print("Both of these were false ")
    
    
      #F                   #F
if num1 / 6 == num2 or num3 / 5 == num4:
    print("True or True")
else:
    print("Both of these were false")

True and True
One of thesse is false
True or True
Both of these were false

### Elif Statements

In [84]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = 'Justin'

if first_name == 'Harry':
    print("You are a wizard harry")
elif first_name == 'Ron':
    pirnt("eat slugs")
elif first_name == 'Hermoine':
    print("Its leviOsa not levioSA")
else:
    print(f"You are not a wizard {first_name}, sorry :(")

You are not a wizard Justin, sorry :(

### Else Statements

In [85]:
#else is accounting for every other case that isn't true for any of the ifs or elifs
# see above harry potter example
# if none of the if or elifs hit, the else will hit
# you dont need an else statement

if first_name == 'Harry':
    print("You are a wizard harry")
elif first_name == 'Ron':
    pirnt("eat slugs")
elif first_name == 'Hermoine':
    print("Its leviOsa not levioSA")
else:
    print(f"You are not a wizard {first_name}, sorry :(")

You are not a wizard Justin, sorry :(

### String Manipulation

#### .lstrip()

In [86]:
# our_string.lstrip()
name = "          lando calrissian"
print(name)
name = name.lstrip()
print(name)

          lando calrissian
lando calrissian

#### .rstrip()

In [87]:
# our_string.rstrip()

name = "Luke Skywalker"
print(name)
name = name.rstrip()
print(name)

Luke Skywalker
Luke Skywalker

#### .strip()

In [88]:
# our.string.strip()

name = "   Ash Kechum    "
print(name)
name = name.strip()
print(name)

   Ash Kechum
Ash Kechum

In [89]:
options = input("What would you like to? play, pause, stop?")

if options == "play":
    print("playing your movie")

What would you like to? play, pause, stop? play

playing your movie

In [90]:
#.replace()

name = "alex,"
print(name)
name = name.replace(",", "")
print(name)

alex,
alex

#### .title()

In [91]:
#our_string.title()
name = "mo"
print(name)
name = name.title()
print(name)

mo
Mo

#### .upper()

In [92]:
# our_string.upper()
name = name.upper()
print(name)

MO

#### .lower()

In [93]:
# our_string.lower()
name = name.lower()
print(name)

mo

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [94]:
name = input("What is your name? ").strip().title()

What is your name?  morgan mcintosh

### Built-In Functions

In [ ]:
# probably the most popular built in function is print()

##### len()

In [95]:
#works for strings and lists
# return the length of a given variable as an integer
name = "Razvan"
name_length = len(name)
print(name_length)

6

##### help()

In [97]:
# gives a tooltip on a python built-in function
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [ ]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

In [99]:
my_num = 11
if isinstance(my_num, int):
    print("This is in fact a whole number")
else:
    print("No luck, not a number")

This is in fact a whole number

##### abs()

In [101]:
# | 5 |
# give us the distance to zero
print(abs(-5))
print(abs(5))

# if i wanted to check the distance between two #s but didnt always know which one was larger

num1 = 15
num2 = 10
print(abs(num1 - num2))

5
5
5

### Try and Except

In [102]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction
try: 
    age = int(input("How old are you?"))
    print(f"Happy birthday you were {age} but now you are {age +1}")
except:
    print("please enter in a number not text and try again.")

How old are you? 24

Happy birthday you were 24 but now you are 25

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [111]:
user1 = int(input("What is your age?"))
user2 = int(input("What is your age?"))
difference = abs(user1 - user2)
print(f"The difference between the ages is: {difference}")

What is your age? 10
What is your age? 12

The difference between the ages is: 2

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [117]:
noun = input("what is your noun?")
verb = input("what is your verb?")
adjective = input(" what is your adjective?")
format = (f" {noun} {verb} {adjective}")
print(format)

what is your noun? morean
what is your verb? wha
 what is your adjective? doing

 morean  wha doing

In [129]:
# EXCERCISE 3
# Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors

age = int(input("What is your age?"))
if age < 18:
    print("You are a kid")
elif 18 <= age <= 65:
    print("You are an adult")
else:
    print("You are a senior")

What is your age? 18

You are an adult

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [131]:
user = int(input("Give us a number to square?"))
result = user ** 2 
print(result)

Give us a number to square? 5

25

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [141]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"
if word1 >= 5:
    print("true")
else:
    print("false")

TypeError: '>=' not supported between instances of 'str' and 'int'